---
layout: horizontal
---
<div class="navbar">
    {% if site.theme_config.show_navbar == true %}
    {% include horizontal_list.html collection=site.data.home.navbar_entries %}
    {% endif %}
    <div class="dashed"></div>
</div>

<h1 class="post-title">{{ page.title }}</h1>

<div class="images">
    <div class="photography">
        <figure>
            <img src="../images/Protrait_2022.jpg" alt="girl">
            <!-- <figcaption>Fig.1 - Trulli, Puglia, Italy.</figcaption> -->
        </figure>

        <figure>
            <img src="../images/Flower_2022.JPG" alt="flower">
            <figcaption>
            </figcaption>
        </figure>

        <figure>
            <img src="../images/background.JPG" alt="japan">
            <figcaption>
            </figcaption>
        </figure>

        <figure>
            <img src="../images/Criterion2022.jpg" alt="alice">
            <figcaption>
            </figcaption>
        </figure>
        
    <!-- </div> -->
    <!-- <div class="sculpture"> -->
        <figure>
            <img src="../images/Ceramic_2019.JPG" alt="ceramic">
            <figcaption>
            </figcaption>
        </figure>
        <figure>
            <img src="../images/ceramic_2019的副本.JPG" alt="bunny">
            <figcaption>
            </figcaption>
        </figure>
    <!-- </div> -->
    <!-- <div class="illustration"> -->
        
        <figure>
            <img src="../images/Eye Cnady Open Mic2022.jpg" alt="eye">
            <figcaption>
            </figcaption>
        </figure>

        <figure>
            <img src="../images/Kinetic2022.jpg" alt="Kinetic">
            <figcaption>
            </figcaption>
        </figure>

        <figure>
            <img src="../images/PORTRAIT2022.jpg" alt="face">
            <figcaption>
            </figcaption>
        </figure>
<!-- 
        <figure>
            <img src="../images/PERSONAL_THESIS.jpg" alt="alice">
            <figcaption>
            </figcaption>
        </figure> -->
    </div>
</div>